<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Kamidana</string>
	<key>CFBundleIdentifier</key>
	<string>com.shin.Kamidana</string>
	<key>CFBundleName</key>
	<string>Kamidana</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>周辺のWi-Fiネットワークを検索して表示するために位置情報を使用します。</string>
	<key>NSLocationUsageDescription</key>
	<string>周辺のWi-Fiネットワークを検索して表示するために位置情報を使用します。</string>
	<key>NSBluetoothAlwaysUsage  Description</key>
	<string>このアプリはあなたのBluetoothデバイスに接続して音楽を再生するためにBluetoothを使用します。</string>
</dict>
</plist>
